/* .card-text{
    margin-top:90px;
    height: 200px;
}
.card{
   
}*/
.welcome{
  margin-top: 100px;
  margin-right: 90px;
  margin-left: 0px;
  height: 250px;
  width: 90%;

 
} 
.welcome-body
{
  background-color: #1f2422;
  margin-top: 40px;
  color: white;
}
  